In [42]:

class finds:
    def __init__(self,no_features):
        self.no_features=no_features
        self.s_hypothesis=['0']*no_features
        self.g_hypothesis=[['?']*no_features]*no_features
    def fit(self,x,y):
        for i in range(len(y)):
            if y[i]=='Yes':
                for j in range(self.no_features):
                    if self.s_hypothesis[j] == '0':
                        self.s_hypothesis[j]=x.iloc[i,j]
                    elif self.s_hypothesis[j] != x.iloc[i,j]:
                        self.s_hypothesis[j]='?'
            else:
                for j in range(self.no_features):
                    if self.g_hypothesis[j][j] == '?':
                        self.g_hypothesis[j][j]=x.iloc[i,j]
                    elif self.g_hypothesis[j][j] == self.s_hypothesis[j]:
                        self.g_hypothesis[j][j]='?'
                    else:
                        self.g_hypothesis[j][j] = self.s_hypothesis[j]
        for i in range(self.no_features):
            if self.g_hypothesis[i][i] == self.s_hypothesis[i]:
                pass
            else:
                self.g_hypothesis[i]=0
                
        return self.s_hypothesis,self.g_hypothesis

In [1]:
import numpy as np
import pandas as pd

data=pd.read_csv('play_tennis.csv')

In [7]:
y=data['play'].head(10)
x=data.drop(['play'],axis=1).head(10)
data.head(10)

   day   outlook  temp humidity    wind play
0   D1     Sunny   Hot     High    Weak   No
1   D2     Sunny   Hot     High  Strong   No
2   D3  Overcast   Hot     High    Weak  Yes
3   D4      Rain  Mild     High    Weak  Yes
4   D5      Rain  Cool   Normal    Weak  Yes
5   D6      Rain  Cool   Normal  Strong   No
6   D7  Overcast  Cool   Normal  Strong  Yes
7   D8     Sunny  Mild     High    Weak   No
8   D9     Sunny  Cool   Normal    Weak  Yes
9  D10      Rain  Mild   Normal    Weak  Yes

In [8]:
data=data.drop(['day'],axis=1)

In [47]:
D=finds(4)
s,g=D.fit(x,y)

In [31]:
x

    outlook  temp humidity    wind
0     Sunny   Hot     High    Weak
1     Sunny   Hot     High  Strong
2  Overcast   Hot     High    Weak
3      Rain  Mild     High    Weak
4      Rain  Cool   Normal    Weak

In [30]:
y

0     No
1     No
2    Yes
3    Yes
4    Yes
Name: play, dtype: object

In [48]:
s

['?', '?', '?', '?']

In [49]:
g

[0, 0, 0, 0]

In [3]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [10]:
l=LabelEncoder()

In [11]:
l.fit(data.columns.tolist())

LabelEncoder()

In [12]:
for i in data.columns:
    data[i]=l.fit_transform(data[i])

In [13]:
data.head()

   outlook  temp  humidity  wind  play
0        2     1         0     1     0
1        2     1         0     0     0
2        0     1         0     1     1
3        1     2         0     1     1
4        1     0         1     1     1

In [14]:
input_=data.iloc[: ,:4]

In [18]:
output_=data.iloc[:,-1]

In [50]:
x_train,x_test,y_train,y_test=train_test_split(input_,output_,test_size=0.2,random_state=450)

In [51]:
clf=GaussianNB()

In [52]:
clf=clf.fit(x_train,y_train)

In [53]:
clf.predict(x_test)

array([1, 0, 1])

In [54]:
y_test

2     1
8     1
13    0
Name: play, dtype: int32

In [49]:
print(metrics.accuracy_score(clf.predict(x_test),y_test))
print(metrics.accuracy_score(clf.predict(x_train),y_train))

0.6666666666666666
0.9090909090909091

In [67]:
from sklearn.feature_extraction.text import CountVectorizer as cv
from sklearn.naive_bayes import MultinomialNB

In [58]:
data4=pd.read_csv('text_classification.csv',names=['message','feel'])

In [59]:
data4

                                 message feel
0                   I love this sandwich  pos
1               this is an amazing place  pos
2     I feel very good about these beers  pos
3                   this is my best work  pos
4                   what an awesome view  pos
5          I do not like this restaurant  neg
6               I am tired of this stuff  neg
7                 I can't deal with this  neg
8                   he is my sworn enemy  neg
9                    my boss is horrible  neg
10              this is an awesome place  pos
11  I donot like the taste of this juice  neg
12                       I love to dance  pos
13     I am sick and tired of this place  neg
14                  what a great holiday  pos
15        that is a bad locality to stay  neg
16        we will have good fun tomorrow  pos
17      I went to my enemy's house today  neg

In [63]:
data4['lanelnum']=data4['feel'].map({'pos':1,'neg':0})

In [64]:
data4

                                 message feel  lanelnum
0                   I love this sandwich  pos         1
1               this is an amazing place  pos         1
2     I feel very good about these beers  pos         1
3                   this is my best work  pos         1
4                   what an awesome view  pos         1
5          I do not like this restaurant  neg         0
6               I am tired of this stuff  neg         0
7                 I can't deal with this  neg         0
8                   he is my sworn enemy  neg         0
9                    my boss is horrible  neg         0
10              this is an awesome place  pos         1
11  I donot like the taste of this juice  neg         0
12                       I love to dance  pos         1
13     I am sick and tired of this place  neg         0
14                  what a great holiday  pos         1
15        that is a bad locality to stay  neg         0
16        we will have good fun tomorrow  pos         1
17      I went to my enemy's house today  neg         0

In [65]:
x_inp=data4['message']
y_out=data4['lanelnum']

In [70]:
cv=cv()

In [74]:
x_train,x_test,y_train,y_test=train_test_split(x_inp,y_out,test_size=0.2,random_state=42)

In [75]:
x_train_tm=cv.fit_transform(x_train)
x_test_tm=cv.transform(x_test)

In [76]:
x_train_tm.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]], dtype=int64)

In [78]:
cv.get_feature_names_out()

array(['about', 'am', 'an', 'and', 'awesome', 'bad', 'beers', 'best',
       'boss', 'can', 'dance', 'deal', 'donot', 'enemy', 'feel', 'fun',
       'good', 'great', 'have', 'holiday', 'horrible', 'house', 'is',
       'juice', 'like', 'locality', 'love', 'my', 'of', 'place', 'sick',
       'stay', 'stuff', 'taste', 'that', 'the', 'these', 'this', 'tired',
       'to', 'today', 'tomorrow', 'very', 'view', 'we', 'went', 'what',
       'will', 'with', 'work'], dtype=object)

In [79]:
df=pd.DataFrame(x_train_tm.toarray(),columns=cv.get_feature_names_out())

In [80]:
df.head()

,about,am,an,and,awesome,bad,beers,best,boss,can,...,today,tomorrow,very,view,we,went,what,will,with,work
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
clf=MultinomialNB()

In [83]:
clf.fit(x_train_tm,y_train)

MultinomialNB()

In [86]:
p=clf.predict(x_test_tm)

In [87]:
y_test

0    1
1    1
8    0
5    0
Name: lanelnum, dtype: int64

In [88]:
metrics.accuracy_score(y_test,p)

1.0

In [89]:
metrics.confusion_matrix(y_test,p)

array([[2, 0],
       [0, 2]], dtype=int64)

In [90]:
metrics.precision_score(y_test,p)

1.0

In [91]:
metrics.recall_score(y_test,p)

1.0

In [4]:
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.models import BayesianNetwork
from pgmpy.inference import VariableElimination

In [5]:
data3=pd.read_csv('heart.csv')

In [6]:
data3.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1